<!DOCTYPE html>
<html>
<head>
 <title>Pumpkin Pi 3</title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<img src="{{url_for('static', filename='logo.png')}}" class="center"/>
<body>

  <h2 align="center">Enter WiFi details</h2>
  <h5>{{ internet }}</h5>
  <h6> Select interface to connect to Wifi</h6>

  <br>
  <form align="center" action="/connect">
    <select name="interface"  method="GET" action="/connect">
      <option value="{{interfaces[0]}}" selected>{{interfaces[0]}}</option>
      {% for interface in interfaces[1:] %}
        <option value="{{interface}}">{{interface}}</option>
      {% endfor %}
    </select>
    <br>
    <label align="center" for="ssid">SSID</label><br>
    <input type="text" id="ssid" name="ssid"><br>
    <label for="password">Password</label><br>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form> 
  <form align="center" action= "/start">
    <button type="start WiFi Pumpkin" value="start WiFi Pumpkin">
  </form>
</body>
</html>
